/* about.css */

.aboutHome {
  padding:  0; 
  background-color: #d4d6d8; 
}

.about-container {
  max-width: 1200px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-left img {
  max-width: 100%;
  height: auto;
}

.about-right {
  max-width: 600px; 
  flex-grow: 1;
  padding-right: 0px; 
}

.about-items {
  margin-top: 0px; 
}

.about-item {
  margin-bottom: 20px; 
  padding: 15px; 
  border: 1px solid #ffffff;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.about-item:hover {
  background-color: #ffffff;
  color: #478ac9;
}

.about-text h2 {
  font-size: 20px; 
  margin-bottom: 0px;
  color: #478ac9;
}

.about-text p {
  font-size: 16px; 
  line-height: 1.5;
  color: #000000;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-right {
    padding: 0px 0;
    text-align: center;
  }

  

  .about-item {
    width: 100%; /* Make the items full-width on smaller screens */
  }

  .about-text h2 {
    font-size: 18px; /* Adjusted font size for better readability on smaller screens */
  }

  .about-text p {
    font-size: 14px; /* Adjusted font size for better readability on smaller screens */
  }
}
