.blog {
  padding: 0;
}

.blog img {
  width: 100%;
  height: auto; 
}

.blog .text {
  padding: 20px; 
}

.blog h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 10px 0; 
  transition: 0.5s;
}

.blog h1:hover {
  color: #478ac9;
  cursor: pointer;
}

.blog span {
  text-transform: uppercase;
  font-weight: 500;
  color: #478ac9;
  display: block; 
}

.blog span label {
  margin-top: 5px; 
  color: grey;
  font-size: 14px;
}

.blog span:last-child label {
  color: #478ac9;
}

.blog p {
  color: grey;
}


@media only screen and (max-width: 768px) {
  .blog .text {
    padding: 8px; 

  .blog h1 {
    font-size: 18px; 
    line-height: 20px;
    margin: 4px 0; 
  }

  .blog span label {
    font-size: 12px; 
  }
}
}
